body{
    background-color: rgb(0, 0, 0);
}
h1, h2{
    margin: 0;
}
header{
    justify-content: center;
    display: flex;
}
nav{
    display: flex;
    gap: 30px;
    width: 100%;
    justify-content: center;
}

li{
   list-style: none; 
}

section{
    width: 100%;
    height: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bordeCalc{
    margin-top: 10px;
    width: 500px;
    height: 875px;
    border: 5px solid #a3a3a3bc;
    border-radius: 15px;
    background-color: rgba(36, 36, 36, 0.448);
}
.buttonsTop{
    width: 100%;
    height: 60px;
    background-color: rgb(68, 68, 68);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-items: center;
    justify-content: end;
}
.opc{
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 10px 0 10px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: rgba(99, 99, 99, 0);
}

.opc:nth-child(1){
    float: left;
}

.pantalla{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: rgb(98, 98, 98);
    align-items: end;
    justify-content: end;
}

.pantalla p{
    font-size: 25px;
    height: 70px;
    margin: 0 5px 0 0;
    color: #d1d1d1fc;
}

.pantalla #operacion{
    margin-right: 5px;
    width: 97.5%;
    height: 70px;
    font-size: 30px;
    border: none;
    background: none;
    text-align: end;
    letter-spacing: 3px;
    margin-top: 0;
    color: white;
}

.pantallaBottom{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
    width: 100%;
    background-color: rgb(96, 96, 96);
    border-top: 1px solid #7171717b;
}

.buttonsPant{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background-color: #5d5d5d;
}

.buttonsPant img{
    width: 70%;
    height: 70%;
    
}

.buttonsTech{
    display: grid;
    align-content: space-around;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    height: 625px;
    width: 100%;
    background-color: #343434;
    border-radius: 0 0 10px 10px;
}

.buttonsNumber{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    border-radius: 15px;
    width: 95px;
    height: 95px;
    background-color: #838383;
    text-align: center;
    border: 1px solid #505050ac;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.54);
    transition: transform 0.5s ease;
}

.buttonsNumber:hover{
    transform: scale(0.95);
    box-shadow: 3px 3px 6px rgba(25, 25, 25, 0.54);

}

.buttonsNumber img{
    width: 50%;
    height: 50%;
}
#buttonsOper{
    background-color: rgb(80, 80, 80);
    color:#8e5f01;
}
#buttonsEqual{
    background-color: #A47A2B;
}

.opc img{
    width: 100%;
    height: 100%;
}